{
  "presets": [
      [
          "@babel/preset-env",
          {
              "useBuiltIns": "usage",
              "corejs": 3,
              "modules": false,
              "targets": {
                "ie": 11
              }
          }
      ]
  ],
  "plugins": [
      ["@babel/plugin-transform-runtime", {"useESModules": true, "corejs": 3}]
  ],
  "ignore": [
    "node_modules/**"
  ]
}
